In [1]:
import pandas as pd

In [33]:
df = pd.read_csv("^DJI.csv")

In [34]:
df = df.rename(columns = {'Date':'datadate', 'Open':'prcod', 'High':'prchd', 'Low':'prcld', 'Close':'prccd', 'Volume':'cshtrd'})

In [35]:
df['datadate'] = pd.to_datetime(df['datadate'])
df['datadate'] = df.datadate.dt.strftime('%Y%m%d')

In [36]:
df['ajexdi'] = df['Adj Close']/df['prccd']

In [37]:
df['tic'] = 'DJI'

In [38]:
df = df.drop(columns = ['Adj Close'])
df = df[['datadate', 'tic', 'prccd', 'prcod', 'prchd', 'prcld', 'ajexdi', 'cshtrd']]

In [50]:
for i in range(1, 21):
    for col in 
    df['prccd-'+str(i)] =df['prccd'].shift(i, fill_value='-' )

In [51]:
df

,datadate,tic,prccd,prcod,prchd,prcld,ajexdi,cshtrd,prccd-2
0,20090102,DJI,9034.690430,8772.250000,9065.280273,8760.780273,1.0,213700000,-
1,20090105,DJI,8952.889648,9027.129883,9034.370117,8892.360352,1.0,233760000,9034.69
2,20090106,DJI,9015.099609,8954.570313,9088.059570,8940.950195,1.0,215410000,8952.89
3,20090107,DJI,8769.700195,8996.940430,8996.940430,8719.919922,1.0,266710000,9015.1
4,20090108,DJI,8742.459961,8769.940430,8770.019531,8651.190430,1.0,226620000,8769.7
...,...,...,...,...,...,...,...,...,...
2923,20200813,DJI,27896.720703,27922.509766,27986.099609,27789.779297,1.0,360160000,27976.8
2924,20200814,DJI,27931.019531,27828.929688,27977.810547,27759.390625,1.0,275540000,27896.7
2925,20200817,DJI,27844.910156,27970.050781,27999.810547,27816.400391,1.0,286860000,27931
2926,20200818,DJI,27778.070313,27853.480469,27891.119141,27668.789063,1.0,276170000,27844.9
2927,20200819,DJI,27692.880859,27811.259766,27920.419922,27647.669922,1.0,311460000,27778.1

In [31]:
df_dow = pd.read_csv("dow_30_2009_2020.csv")

In [42]:
df_dow['datadate'] = df_dow['datadate'].astype('O')

In [46]:
df_final = pd.concat([df_dow, df]).drop(columns = ['Unnamed: 0'])

In [49]:
df_final.to_csv('dow_30_plus_2009_2020.csv', index = False)

In [52]:
df_final

,datadate,tic,prccd,ajexdi,prcod,prchd,prcld,cshtrd
0,20090102,AXP,19.330000,1.0,18.570000,19.520000,18.400000,10955620.0
1,20090105,AXP,19.950000,1.0,19.200000,20.240000,19.000000,16019130.0
2,20090106,AXP,21.070000,1.0,20.300000,21.380000,20.010000,13819380.0
3,20090107,AXP,20.010000,1.0,20.530000,20.720000,19.830000,15699820.0
4,20090108,AXP,20.040000,1.0,19.800000,20.170000,19.400000,12255070.0
...,...,...,...,...,...,...,...,...
2923,20200813,DJI,27896.720703,1.0,27922.509766,27986.099609,27789.779297,360160000.0
2924,20200814,DJI,27931.019531,1.0,27828.929688,27977.810547,27759.390625,275540000.0
2925,20200817,DJI,27844.910156,1.0,27970.050781,27999.810547,27816.400391,286860000.0
2926,20200818,DJI,27778.070313,1.0,27853.480469,27891.119141,27668.789063,276170000.0
2927,20200819,DJI,27692.880859,1.0,27811.259766,27920.419922,27647.669922,311460000.0